body {
    background-color: whitesmoke;
    display: flex;
    font-family: Arial;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
h2 {
    text-align: center;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input, textarea {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #5cb85c;
    color:White;
    padding: 10px;
    margin-top: 15px;
    margin-left: 150px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    border:none;
}
button:hover {
    background: #4cae4c;
}